<section data-background-image="img/fond-afup.png"
         data-background-opacity="0.5">
    <div>
        <h4>Les antennes</h4>
    </div>

    <div class="r-hstack">
        <div>
            <img src="img/carte-antennes.png"/>
        </div>
    </div>
</section>
