<section data-background-image="img/fond-afup.png"
         data-background-opacity="0.5">
    <div class="r-hstack" style="gap: 40px;">
        <div>
            <img src="img/logos/afup.png" height="80"/>
            <h2>L'association</h2>
        </div>
        <div>
            <img src="img/qr/code-of-conduct.png" />
        </div>
    </div>

    <p style="font-size: 30px; text-align: left;">
        L’AFUP, <span class="text-afup">Association Française des Utilisatrices et Utilisateurs de PHP</span>, a pour objectifs de <strong>promouvoir le langage PHP</strong> et son écosystème et de <strong>contribuer à son développement</strong> auprès des professionnels et de la communauté.
    </p>

    <p style="font-size: 30px; text-align: left;padding-top: 20px;">
        Ses objectifs sont menés en respect d’un <strong>code de conduite</strong> promouvant l’inclusivité, la diversité et la bienveillance.
    </p>
</section>
