<section data-background-image="img/fond-afup.png"
         data-background-opacity="0.5">
    <div>
        <img src="img/logos/barometre.png" height="130" class="no-margin"/>
        <h4>Le baromètre des salaires</h4>
    </div>

    <div class="r-hstack">
        <div>
            <img src="img/qr/barometre.png" />
        </div>
        <div>
            <p style="font-size: 18px; text-align: left;">
                Où vous situez-vous ?<br/>
                Quelles sont les spécialisations les mieux rémunérées ?<br/>
                Quel type d'entreprise rétribue le mieux ses salariés et de quelle manière ?<br/>
                Quelle est la structure la plus courante des rémunérations ?
            </p>

            <p style="font-size: 18px; text-align: left;">
                Autant de questions (et bien d'autres) auxquelles nous pourrons répondre grâce à vous !
            </p>
        </div>
    </div>
</section>
