<section data-background-image="img/fond-afup.png"
         data-background-opacity="0.5">
    <h3>Le Forum PHP 2024</h3>

    <div class="r-hstack justify-center">
        <div style="background-image: url('img/forum/top-left.jpg'); background-size: cover; width: 800px; height: 250px; margin: 10px;"></div>
        <div style="background-image: url('img/forum/top-right.jpg'); background-size: cover; width: 800px; height: 250px; margin: 10px;"></div>
    </div>
    <div class="r-hstack justify-center">
        <div style="background-image: url('img/forum/bottom-left.jpg'); background-size: cover; width: 800px; height: 250px; margin: 10px;"></div>
        <div style="background-image: url('img/forum/bottom-right.jpg'); background-size: cover; width: 800px; height: 250px; margin: 10px;"></div>
    </div>
</section>
